
.parentSetting{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.labels{
    gap: 1rem;
    display: flex;
    padding: 10px 0px;
    font-weight: 600;
}
.directionContainer{
    display: flex;
    gap: 1rem;
}
#direction{
    margin:6px 0px;
    border-radius: 6px;
}

.setting-button{
    height: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    margin-top: 20px;
    width: 85px;
    box-shadow: 0px 0px 4px 1px #00000052;
}
.setting-button:hover{
    box-shadow: 0px 0px 4px 1px #00000052;
}
.setting-button:active{
    box-shadow: 0px 0px 0px 0px #00000052;
}