
.parentSetting{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.labels{
    gap: 1rem;
    display: flex;
    padding: 10px 0px;
    font-weight: 600;
}
.directionContainer{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 39vw;
}
#direction{
    margin:6px 0px;
    border-radius: 6px;
}

.setting-button{
    height: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    margin-top: 20px;
    width: 85px;
    box-shadow: 0px 0px 4px 1px #00000052;
}
.setting-button:hover{
    box-shadow: 0px 0px 4px 1px #00000052;
}
.setting-button:active{
    box-shadow: 0px 0px 0px 0px #00000052;
}


@media only screen and (max-width: 1070px) {
    .directionContainer{
        width: 52vw;
    }
  }
  @media only screen and (max-width: 808px) {
    .directionContainer{
        width: 66vw;
    }
  }
  @media only screen and (max-width: 710px) {
    .directionContainer{
        flex-direction: column;
        justify-content: center;
        width: 60vw;
    }
    
  }
  @media only screen and (max-width: 595px) {
    .directionContainer{
        width: 50vw;
    }
    .labels {
        gap: 1rem;
        padding: 5px 0px;
        font-size: 14px;
    }
    
  }