
.postSender{
    font-size: x-small;
    font-weight: 700;
    color: var(--gray);
    margin:auto 0px;
}
.sendTime{
    font-size: x-small;
    color: var(--black);
    margin:auto 0px;
}
.profileImg{
    border-radius:50%;
    width:2rem;
    height:2rem;
    margin:0.5rem;
}
.ownerDetails{
    display: flex;
    gap: 0.5rem;
}
.Post{
    display:flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--cardColor);
    border-radius:1rem;
    gap:1rem;
}
.Post>img{
    width:100%;
    max-height: 20rem;     /* if provide 20 rem it does not fit in layout */
    object-fit: cover;
    border-radius: 0.5rem;
}
.reactionContain{
    display: flex;
    justify-content: space-between;
}
.reactionRight{
    display: flex;
    gap:1rem;
}
.postReact{
    display:flex;
    align-items: flex-start;
    gap:1.5rem;
}
.ps-button{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
}
.inputCommentDiv{
    display: flex;
    justify-content: space-between;
    margin-right:7px;
}

.inputCommentDiv>input{
    background-color: var(--inputColor);
    border-radius: 10px;
    padding:6px;
    font-size: 16px;
    border:none;
    outline:none;
}
.mantine-Paper-root{
    padding:1rem !important;
}
.commentBox{
    height:65vh;
    overflow-y: scroll;
    margin-top:3px;
}
.noComment{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 359px) {
    .inputCommentDiv>input{
        width:123px;
        font-size:12px;
    }
    .ps-button{
        padding:5px 5px !important;
    }
  }