
.outerDiv{
    margin:0.6rem 0rem;
    display: flex;
    flex-direction: column;
    background-color:var(--inputColor);
    border-radius:1rem;
    margin-right:0.4rem;
}

.innerDiv{
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    gap: 0.5rem;
}
.innerDiv1{
    display: flex;
    align-items: center;
}
.innerDiv2{
    margin:auto 0px;
    gap:1rem;
}

.profileImg{
    border-radius:50%;
    width:2rem;
    height:2rem;
    margin:0.5rem;
}

.userName{
    font-weight: 550;
}

.commentText{
    padding-left:1.2rem;
    color: var(--gray);
    font-size: 15px;
    padding-bottom: 0.3rem;
}