.Posts{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.backBtn{
    cursor:pointer;
    width: 33px;
    border-radius: 16px;
}
.backBtn:hover{
    background:var(--backgroundHoverColor);
}

.backBtn>svg{
    display:block;
    height:34px;
    width:34px;
}